.container{
padding: 2rem;
    text-align: center;
    width: 50%;
   /* border: solid 1px black; */
    display: flex;
    flex-direction: column;
    margin: 0 25%;
    box-shadow: #00000005 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    background-color:#E5F8F6;
    /* color: white; */
    border-radius: 0.8rem;
}

.passworddiv{
    width: 80%;
justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    margin: 2% 10%;
}

.passform{
    display: flex;
    flex-direction: column;
}

.passlength, .Uppercase, .Lowercase, .Number, .Symbol{

    padding: 1rem;

}


.passlength, .Uppercase, .Lowercase, .Number, .Symbol{
    display: flex;
    justify-content: space-between;
}

Button{
    padding: 3%;
    /* margin: 0% 25%;
    width: 50%; */
    margin-bottom:2%;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
}

.generate-btn:hover{
    background-color: #16A086;
}

.generate-btn{
    background-color: #4affde;
}

.copybtn{
    background-color: #a2ecfffb;

}

.passworddiv h1{

    margin: 0;
}


@media only screen and  (240px<=width<=768px){


    .container{
        margin: 0 0;
        width: 90%;
        padding: 3%;
    }
}
    
