body {
  margin: 0;
 background-color: aliceblue;
 align-items: center;
 text-align: center;
 background-color: rgb(122,218,243);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
